<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1> Hello, I ike coding!</h1>
    <br>
    {% include "layout/menu.html" %}
    <br>
    <h1> Aku ingin menjadi programmer,Cita cita sederhana ku ingin bisa membuat aplikasi sendiri dan kreatif </h1>
</body>
</html>